/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
/testapp/node_modules
/reactapp/node_modules
my_chaincodes/node_modules
my_chaincodes/perm_get_create/vendor
my_chaincodes/v2_rounds/vendor
my_chaincodes/v3_rounds/vendor
my_chaincodes/v4_rounds/vendor